.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.about-page h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Aboreto';
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #9d845f;
}

.about-text p {
    font-family: 'Aboreto';
    text-align: center;
    margin: 2rem 10rem;
    max-width: 50rem;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
}

/* Divider without text */
.divider-without-text {
    width: 80%;
    height: 1px;
    background-color: #494949;
    margin: 2rem auto;
}
