@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.card-container,
.ad-frontpage,
.circle {
    overflow: visible !important;
}

.ad-frontpage {
    background-color: #fff9ef;
    padding-top: 4rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bf2f4d;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    margin-left: 2vw;
    max-width: 490px;
    min-height: 550px;
    padding: 6px 2px;
    text-align: center;
    color: white;
    position: relative;
    font-family: 'Aboreto', sans-serif;
}

.circle {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    background-color: #eba9b7f3;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding-left: 3rem;
}

.circle-image {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.text-overlay {
    overflow: visible !important;
    position: absolute;
    width: 90%;
    top: 20%;
    left: 0;
    padding-right: 3rem;
    color: white;
    font-size: 2.4rem;
    line-height: 1.4;
    z-index: 50;
    text-align: right;
    font-family: 'Aboreto', cursive;
    transform: translate(-30%, -10%);
}

.cta-button {
    margin-top: 2rem;
    background-color: #fdf6ee;
    color: #333;
    padding: 12px 24px;
    border: none;
    border-radius: 12px 0 12px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Aboreto', cursive;
}

/* RIGHT HAND SIDE */
.right-side {
    position: relative;
    width: 100%;
    background-color: #fff9ef;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    margin-right: 0;
    align-items: flex-start;
}

.flower-image {
    max-width: 700px;
    height: auto;
    transform: scaleX(-1);
    transform-origin: center;
    margin-top: -10rem;
    position: relative;
    z-index: 5;
}

.overlay-text {
    position: absolute;
    right: 15%;
    top: 35%;
    color: #7ba96f;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: serif;
    max-width: 40rem;
    z-index: 10;
    background: none;
    font-family: 'Aboreto', cursive;
    font-weight: bolder;
    font-style: italic;
    margin-top: -16rem;
}
