.header {
    background-color: rgba(246, 195, 186, 1);
    width: 100%;
    height: 40rem;
    padding: 1rem;

}

.header_content{
display: flex;

}

.logo {
    margin-top: 10rem;
    margin-left: 65%;
    font-family: 'Aboreto';
    font-size: 2.5rem;
}

.img_poeny img {
    height: 40rem;

}
